In [1]:
import pandas as pd
import numpy as np
import openpyxl

In [2]:
df = pd.read_csv("log_0005_2020-01-23_17-12.csv", sep = ";", error_bad_lines=False)
df.head(10)

,Time,Server,Message_type,CPU Usage,Memory Usage,Latency,Transaction_ID,To_Server,Message
0,0.000000,client,INFO,0.00,0.000,0.000000,7b69dd40-51a2-401b-916b-4d9eba5d6431,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,Requesting balance by client
1,0.000000,client,INFO,0.00,0.000,0.000000,faa21ca2-93d8-4569-adc4-832152227ba5,payment#60eb938e-8a0f-4cd3-bf21-495dd70c4f46,Requesting payment by client
2,0.000000,payment#60eb938e-8a0f-4cd3-bf21-495dd70c4f46,INFO,0.00,0.000,0.000000,7291a70f-d77f-4f87-8733-b415da356460,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,Requesting balance by payment
3,0.005600,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,INFO,0.00,0.000,0.000000,b33b4821-c8c6-47d5-b9fe-871e9c90c13a,credit#44bf63ee-8707-431b-889d-1e49c12d5fd2,Requesting credit by balance
4,0.006500,client,INFO,0.01,0.001,0.001970,c8088f73-6305-4de7-8be7-dac74fb6e88c,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,Requesting balance by client
5,0.006500,client,INFO,0.00,0.000,0.000000,9ec493ac-200e-4289-a656-4d14af0f722f,payment#60eb938e-8a0f-4cd3-bf21-495dd70c4f46,Requesting payment by client
6,0.006500,payment#60eb938e-8a0f-4cd3-bf21-495dd70c4f46,INFO,0.00,0.000,0.000000,938df3ac-435d-4db4-aebe-98afa59fd273,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,Requesting balance by payment
7,0.012978,payment#60eb938e-8a0f-4cd3-bf21-495dd70c4f46,ERROR,NaN,NaN,NaN,938df3ac-435d-4db4-aebe-98afa59fd273,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,Error due to TIMEOUT
8,0.013000,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,INFO,0.00,0.000,0.000000,4912ad68-fc6c-4833-a49c-29fc96e809a8,credit#44bf63ee-8707-431b-889d-1e49c12d5fd2,Requesting credit by balance
9,0.013000,client,INFO,0.01,0.001,0.018934,cd971858-05f1-4257-adc4-66342fae7621,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,Requesting balance by client

In [3]:
# Split dataframe into three dataframes based on Server
df = df.drop(["Transaction_ID","To_Server", "Message"], axis=1)
df.head(10)

,Time,Server,Message_type,CPU Usage,Memory Usage,Latency
0,0.000000,client,INFO,0.00,0.000,0.000000
1,0.000000,client,INFO,0.00,0.000,0.000000
2,0.000000,payment#60eb938e-8a0f-4cd3-bf21-495dd70c4f46,INFO,0.00,0.000,0.000000
3,0.005600,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,INFO,0.00,0.000,0.000000
4,0.006500,client,INFO,0.01,0.001,0.001970
5,0.006500,client,INFO,0.00,0.000,0.000000
6,0.006500,payment#60eb938e-8a0f-4cd3-bf21-495dd70c4f46,INFO,0.00,0.000,0.000000
7,0.012978,payment#60eb938e-8a0f-4cd3-bf21-495dd70c4f46,ERROR,NaN,NaN,NaN
8,0.013000,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,INFO,0.00,0.000,0.000000
9,0.013000,client,INFO,0.01,0.001,0.018934

In [4]:
# Reset index
df = df.reset_index()
df = df.drop(["index"], axis=1)
df.head(10)

,Time,Server,Message_type,CPU Usage,Memory Usage,Latency
0,0.000000,client,INFO,0.00,0.000,0.000000
1,0.000000,client,INFO,0.00,0.000,0.000000
2,0.000000,payment#60eb938e-8a0f-4cd3-bf21-495dd70c4f46,INFO,0.00,0.000,0.000000
3,0.005600,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,INFO,0.00,0.000,0.000000
4,0.006500,client,INFO,0.01,0.001,0.001970
5,0.006500,client,INFO,0.00,0.000,0.000000
6,0.006500,payment#60eb938e-8a0f-4cd3-bf21-495dd70c4f46,INFO,0.00,0.000,0.000000
7,0.012978,payment#60eb938e-8a0f-4cd3-bf21-495dd70c4f46,ERROR,NaN,NaN,NaN
8,0.013000,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,INFO,0.00,0.000,0.000000
9,0.013000,client,INFO,0.01,0.001,0.018934

In [5]:
# Convert Time from seconds to minutes and name the new time Time_floor
#df["Time"]=df["Time"].div(60)
df["Time_floor"] = np.floor(df["Time"]).astype("int")
df.head(10)

,Time,Server,Message_type,CPU Usage,Memory Usage,Latency,Time_floor
0,0.000000,client,INFO,0.00,0.000,0.000000,0
1,0.000000,client,INFO,0.00,0.000,0.000000,0
2,0.000000,payment#60eb938e-8a0f-4cd3-bf21-495dd70c4f46,INFO,0.00,0.000,0.000000,0
3,0.005600,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,INFO,0.00,0.000,0.000000,0
4,0.006500,client,INFO,0.01,0.001,0.001970,0
5,0.006500,client,INFO,0.00,0.000,0.000000,0
6,0.006500,payment#60eb938e-8a0f-4cd3-bf21-495dd70c4f46,INFO,0.00,0.000,0.000000,0
7,0.012978,payment#60eb938e-8a0f-4cd3-bf21-495dd70c4f46,ERROR,NaN,NaN,NaN,0
8,0.013000,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,INFO,0.00,0.000,0.000000,0
9,0.013000,client,INFO,0.01,0.001,0.018934,0

In [6]:
# Only select rows with Message_type equal to INFO
#df = df.loc[df["Message_type"] == "INFO"]
# Only select rows with Message_type equal to ERROR
#df = df.loc[df["Message_type"] == "ERROR"]

In [7]:
# Group rows by Server and Time_floor; drop obsolete Time column
df_grouped = df.groupby(["Server","Time_floor","Message_type"], as_index=False).mean()
df_grouped = df_grouped.drop(["Time"], axis=1)

In [8]:
# Unpivot dataframe from wide format to long format
df_melt = pd.melt(df_grouped, id_vars = ["Server", "Time_floor","Message_type"], 
                  value_vars = ["CPU Usage","Memory Usage","Latency"], 
                  value_name = "Value")

In [9]:
# Sort dataframe by Server and Time_floor
df_melt = df_melt.sort_values(by=["Server", "Time_floor"])
df_melt

,Server,Time_floor,Message_type,variable,Value
0,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,0,ERROR,CPU Usage,NaN
1,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,0,INFO,CPU Usage,0.000000
1349,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,0,ERROR,Memory Usage,NaN
1350,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,0,INFO,Memory Usage,0.000000
2698,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,0,ERROR,Latency,NaN
...,...,...,...,...,...
2696,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,98,INFO,Memory Usage,0.096615
4045,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,98,INFO,Latency,0.926479
1348,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,99,INFO,CPU Usage,1.000000
2697,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,99,INFO,Memory Usage,0.100500
4046,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,99,INFO,Latency,0.448231

In [10]:
# Sort dataframe by Server and Time_floor
df_melt_sorted = df_melt.sort_values(by=["Server", "Time_floor"])
df_melt_sorted.tail(20)

,Server,Time_floor,Message_type,variable,Value
2691,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,94,INFO,Memory Usage,0.094500
4040,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,94,INFO,Latency,0.814694
1343,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,95,INFO,CPU Usage,0.768372
2692,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,95,INFO,Memory Usage,0.077581
4041,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,95,INFO,Latency,0.646561
1344,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,96,ERROR,CPU Usage,NaN
1345,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,96,INFO,CPU Usage,0.846935
2693,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,96,ERROR,Memory Usage,NaN
2694,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,96,INFO,Memory Usage,0.085661
4042,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,96,ERROR,Latency,NaN
4043,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,96,INFO,Latency,0.905671
1346,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,97,INFO,CPU Usage,0.897000
2695,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,97,INFO,Memory Usage,0.091300
4044,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,97,INFO,Latency,1.144394
1347,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,98,INFO,CPU Usage,0.954615
2696,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,98,INFO,Memory Usage,0.096615
4045,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,98,INFO,Latency,0.926479
1348,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,99,INFO,CPU Usage,1.000000
2697,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,99,INFO,Memory Usage,0.100500
4046,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,99,INFO,Latency,0.448231

In [11]:
# Make two separate dataframes to filter by INFO and ERROR
df_info = df_melt_sorted.loc[df_melt_sorted["Message_type"] == "INFO"]
df_error = df_melt_sorted.loc[df_melt_sorted["Message_type"] == "ERROR"]

# Check if ERROR is not NA
df_error = df_error.loc[df_error["variable"] == df_error["variable"][0]]
df_error = df_error.loc[df_error["Server"].notnull()]

# Add a column which counts the rolling number of errors and makes sure to group the count by server
df_error["Error_count"] = df_error["Message_type"].eq("ERROR")
df_error["Error_count"] = df_error.groupby('Server')["Error_count"].transform(pd.Series.cumsum)

In [12]:
# Merge both dataframes per Server and Time
df_info = df_info.drop(["Message_type"], axis=1)
df_error = df_error.drop(["Message_type"], axis=1)
df_result = pd.merge(df_info, df_error, how = 'outer', on = ['Server', 'Time_floor'])

In [13]:
# Change names of dataframe columns
df_final = df_result.drop(["variable_y","Value_y"], axis=1)
df_final.columns = ['Server', 'Time_floor', 'variable', 'Value', 'Error_count']
df_final

,Server,Time_floor,variable,Value,Error_count
0,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,0,CPU Usage,0.000000,1.0
1,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,0,Memory Usage,0.000000,1.0
2,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,0,Latency,0.000000,1.0
3,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,1,CPU Usage,0.000000,NaN
4,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,1,Memory Usage,0.000000,NaN
...,...,...,...,...,...
3016,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,98,Memory Usage,0.096615,NaN
3017,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,98,Latency,0.926479,NaN
3018,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,99,CPU Usage,1.000000,NaN
3019,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,99,Memory Usage,0.100500,NaN
3020,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,99,Latency,0.448231,NaN

In [14]:
# Formula to start the count at  for every server
server_names = df_final["Server"].unique()
for server in server_names:
    # Get index of first occurance
    server_index=  df_final.loc[(df_final["Server"] == server)].first_valid_index()
    df_final.loc[(df_final.index == server_index) & (df_final["Error_count"].isna()),"Error_count" ] = 0

In [15]:
# Fill in NA values i Error_count with the preceding value to have a rolling count
df_final = df_final.fillna(method='ffill')
df_final

,Server,Time_floor,variable,Value,Error_count
0,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,0,CPU Usage,0.000000,1.0
1,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,0,Memory Usage,0.000000,1.0
2,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,0,Latency,0.000000,1.0
3,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,1,CPU Usage,0.000000,1.0
4,balance#0374213f-74f2-462d-b0d7-2c3958143a2a,1,Memory Usage,0.000000,1.0
...,...,...,...,...,...
3016,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,98,Memory Usage,0.096615,23.0
3017,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,98,Latency,0.926479,23.0
3018,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,99,CPU Usage,1.000000,23.0
3019,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,99,Memory Usage,0.100500,23.0
3020,payment#c0fa68a5-3606-402f-912d-02ddfe1ea69d,99,Latency,0.448231,23.0

In [16]:
# Save dataframe
df_final.to_csv("Manual_Log_Filtered_Final.csv")
df_final.to_excel("Manual_Log_Filtered_Final.xlsx")